h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../resources/1.jpeg");
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

p{
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
    display: inline-block;
    width: 25%;
}